*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    color:#3f464d;
    font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

a{
    all : unset;
}

a:link{
    text-decoration: none;
    color : #3f464d;
}

a:visited{
    text-decoration: none;
    color:#3f464d
}

a:active{
    text-decoration: none;
    color:#3f464d
}

a:hover{
    text-decoration: none;
    color:#3f464d
}

.inner{
    width:100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem
}

header{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    position: fixed; /* 고정 */

    /*상단에 계속 떠있게 하기 위함(fixed의 위치 지정)*/
    top:0;
    left: 0;
    z-index: 1000; 
}

.head-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.head-container .head-brand{
    font-weight: bold;
    font-size: 1.2rem;
}

.head-container .head-brand a:hover{
    color: #2186c4;
    cursor: pointer;
}

.head-container .head-blog{
    font-weight: bold;
    font-size: 1.2rem;   
}

.head-container .head-blog a:hover{
    color: #2186c4;
    cursor: pointer;
}

section{
    width: 100%;
    background-color: #fff;
    position: relative; /*absolute 요소가 있을 때 relative한 section을 기준으로 하기 때문에 default로 설정해줌*/
}

.main{
    height: 360px;
    background-image: url("https://www.fun-coding.org/assets_lms/images/photodune-4161018-group-of-students-m.jpg");
    background-size: cover; /*지정한 요소를 다 덮도록 배경이미지 확대 또는 축소 -> 반복 없앰*/
    background-position: center 10%; /*위로 조금 올리기 */
    background-repeat: no-repeat; /*cover라서 할필요는 없음 */
    z-index: 1;
}

.main-container{
    width: 100%; 
    height: 100%;
    background-color: rgb(47,48,89);
    opacity: 0.8; /*투명도*/
    z-index: 2; /*main 클래스보다 위에 */
    margin-top: 60px; /*fixed로 설정되어있는 header부분을 마진으로 처리하여 여백주기*/
}

.title-container{
    padding-top: 100px;
    padding-bottom: 100px;
}

.title-container .title {
    font-size: 2rem;
    font-weight: bold;
    color : #fff;
    margin-bottom: 0.8rem;
}

.title-container .message {
    font-size: 1.4rem;
    font-weight: normal;
    color : #fff;
    line-height: 2rem;
}

.skill-container{
    width: 100%;
    height: 100%;
    display: flex; /* 내부의 4개의 요소들을 수평으로 나타내기 위함 */
    justify-content: space-around; /*아이템들의 둘레에 균일한 간격 */
    align-items: center;
}

.skill-container .skill{
    width: 25%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 9px; /*꼭짓점 둥글게 */
    padding: 0.5rem 1rem;
    margin : 0 1rem;
    box-shadow: 10px 10px 10px -5px rgba(25,42,70,0.2);
}

.skill-container .skill .skill-icon {
    font-size : 2.5rem;
    margin : 0 10px;
}

.skill-container .skill .skill-title{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.skill-container .skill .skill-title .skill-name{
    font-weight: bold;
    color:#545e6f;
    margin-bottom: 0.2rem;
}

.skill-container .skill .skill-title .skill-usage{
    font-size : 0.9rem;
    color:#545e6f;
}

.python-style{
    color:#2186c4;
}

.analysis-style {
    color: #ff8066;
}
  
.ai-style {
    color: #f7df1e;
}
  
.vue-style {
    color: #2e7d32;
}

.roadmap-container {
    width: 100%;
    margin-top: 2rem;
}


.roadmap-container .roadmap-title-container{
    width: 100%;
    display: flex;
    justify-content: space-between; /* 양쪽 끝 */
    align-items: center;
}

.roadmap-container .roadmap-title-container .roadmap-title{
    font-size : 1.3rem;
    font-weight: bold;
}

.roadmap-container .roadmap-title-container .arrow-container{
    display: flex;
}

.slide-prev{
    font-size: 2rem;
    cursor: pointer;
    color: rgb(47,48,89))
} 

.slide-next{
    font-size: 2rem;
    cursor: pointer;
    color:#cfd8dc
}

.class-list{
    display: flex;
    list-style: none; /* li앞의 글머리(점) 없애기 */
}

.class-list .class-card{
    width: 240px; /*고정*/
    box-shadow: 10px 10px 10px -5px rgba(25,42,70,0.2);
    border-radius: 8px;
    margin: 0 10px;
}

.class-list .class-card .class-image{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

/* width가 1200보다 커질 때 가운데로 정렬하기 위한 것*/
@media only screen and (min-width:1200px){ 
    .inner{
        max-width: 1200px;
    }
}

/* width가 1200보다 커질 때 안보이게 하기*/
@media only screen and (max-width:980px){ 
    .skill-container{
        display: none ;
    }
}
