body {
    text-align: center;
}

.main-card {
    position: relative;
}

.main-card button {
    position: relative;
    left: -45px;
    bottom: 15px;
}

.main-card .text {
    top: 80%;
    left: 50%;
    background-color: aliceblue;
    font-size: 1.8em;
    font-weight: bold;
    position: absolute;
    transform: translate(-50%, -50%);
}

.favorites {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}